# Ignore the virtual environment folder
env/

# Ignore all __pycache__ directories globally (in any subdirectory)
**/__pycache__/
__pycache__/
serviceAccountKey.json

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

#ignore
.env