
html, body {
    height: 100vh;          
    margin: 0;               
    overflow: hidden;        
}

.header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-bottom: 1px solid #c9c9c9;
}



#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh; 
    border-right: 1px solid #c9c9c9;
}


.list-group {
    width: 100%; 
    max-width: 250px;
    margin-top: 20px;
}

.btn-logout {
    width: 100px;
    margin-top: 260px;
    background-color: #ff3434;
}

.btn-logout:hover {
    width: 100px;
    margin-top: 260px;
    background-color: #d40000;
}

.forms {
    background: rgba(0, 0, 0, 0.45);
    width: 20rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
}

#register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    margin-top: 60px;
}

.icon {
    margin-left: 100px;
}

.form-label{
    margin-left: 40px;
}












