<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <img src="../../static/images/UDG.png" alt="Logo_UDG" height="60px">
    </div>

    <div class="container-img">
        <div class="forms">
            <h1>Login</h1>
                <form id="login-form">
                    <h2>Correo</h2>
                    <input type="email" name="email" id="email" placeholder="Usuario" required>
                    <br>
                    <h2>Contraseña</h2>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <button type="submit" class="login-button">Iniciar sesión</button>
                </form> 
                
                <div id="responseMessage"></div>
        </div>
    </div>
    <div class="container-color">

    </div>
    <div class="footer">
        <div class="cutonala">
            <p>Centro Universitario de Tonalá</p>
        </div>
        <div class="terminos">
            <p>Privacy Policy</p>
            <p>Terms & Conditions</p>
            <p>Cookie Policy</p>
            <p>Contact</p>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/authLogin.js') }}"></script>
</body>
</html>