<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notfound.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <img src="../../static/images/UDG.png" alt="Logo_UDG" height="60px">
    </div>

    <div class="container-img">
        <div class="errorContainer">
            <h1>Pagina No Encontrada</h1>
        </div>
    </div>
    <div class="container-color">

    </div>
    <div class="footer">
        <div class="cutonala">
            <p>Centro Universitario de Tonalá</p>
        </div>
        <div class="terminos">
            <p>Privacy Policy</p>
            <p>Terms & Conditions</p>
            <p>Cookie Policy</p>
            <p>Contact</p>
        </div>
    </div>
</body>
</html>